* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #292929;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.links-main {
  width: 500px;
  margin-left: 420px;
}
.links {
  width: 350px;
  margin-left: 590px;
}
.header-link {
  display: inline-block;
  color: #ffa31a;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 30px;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-right: 30px;
}
.input {
  background: #1b1b1b;
  color: #ffffff;
  border: 3px solid #ffa31a;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  padding: 5px;
  background-repeat: no-repeat;
  padding-left: 32px;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffa31a;
  border: 1px solid #1b1b1b;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.button-text {
  vertical-align: middle;
}
.promo {
  background: #ffa31a url(../img/rider.png) no-repeat top -200px right 0px;
  width: 100%;
  border-radius: 10px;
  padding: 100px 70px;
  padding-left: 760px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.promo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  width: 400px;
  color: #ffffff;
  text-shadow: #1b1b1b 3px 2px;
}
.button-main {
  display: flex;
  margin-top: -115px;
  margin-bottom: 45px;
  margin-left: 800px;
  padding: 8px 16px;
  background: #1b1b1b;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #ffa31a;
  padding-right: 70px;
  padding-left: 70px;
  box-shadow: 1px 1px 1px 0px #1b1b1b;
}
.button-text-main {
  text-shadow: #1b1b1b 0.5px 0.5px;
}
.section-title {
  color: #ffffff;
  text-shadow: #1b1b1b 3px 3px;
  font-size: 40px;
}
.section-heading {
  display: flex;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 34px;
}
.description-main {
  margin-top: -0px;
}
.description-item {
  width: 1200px;
  height: 325px;
}
.descrition-text {
  color: #ffffff;
  font-size: 26.6px;
}
.descrition-image {
  max-width: 100%;
  width: 450px;
  height: 300px;
  border-radius: 20px;
}
.item_1-image {
  display: flex;
  margin-left: 700px;
  box-shadow: 3px 2px 2px 0px #ffa31a;
}
.item_2-image {
  display: flex;
  margin-left: 60px;
  box-shadow: -3px 2px 2px 0px #ffa31a;
  margin-top: -245px;
}
.item_3-image {
  display: flex;
  margin-left: 700px;
  box-shadow: 3px 2px 2px 0px #ffa31a;
}
.item_1-text {
  width: 600px;
  display: flex;
  margin-left: 70px;
  margin-top: 200px;
  margin-bottom: -225px;
  text-shadow: #000000 3px 3px;
}
.item_2-text {
  display: flex;
  margin-left: 600px;
  margin-top: 50px;
  text-shadow: #000000 3px 3px;
}
.item_3-text {
  width: 600px;
  display: flex;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: -200px;
  text-shadow: #000000 3px 3px;
}
.connection {
  display: flex;
  margin-top: 75px;
  margin-bottom: 125px;
}
.connection-title {
  font-size: 40px;
  color: #ffffff;
  text-shadow: #000000 3px 3px;
}
.connection-sub-title {
  font-size: 26.6px;
  color: #ffffff;
  text-shadow: #000000 2px 2px;
}
.connection-menu {
  width: 600px;
  margin-top: 170px;
  margin-left: -630px;
}
.connection-menu-name {
  display: inline-block;
}
.input-surname {
  margin-left: 20px;
}
.input-mail-phone {
  width: 475px;
  margin-top: 20px;
}
.input-message {
  width: 475px;
  margin-top: 20px;
  height: 70px;
}
.button-connection {
  margin-top: 400px;
  margin-left: -460px;
  width: 200px;
  height: 45px;
  background-color: #ffa31a;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  font-size: 20px;
}
.advantage__image-1 {
  display: block;
  align-items: center;
  box-shadow: -3px 2px 2px 0px #ffa31a;
  width: 800px;
  height: 360px;
  background: url(../img/advantage_1.jpg) no-repeat top -200px right 0px;
  border-radius: 10px;
}
.advantage__image-2 {
  display: block;
  align-items: center;
  box-shadow: 3px 2px 2px 0px #ffa31a;
  width: 800px;
  height: 360px;
  background: url(../img/advantage_2.jpg) no-repeat top -30px right 0px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 400px;
}
.advantage__image-3 {
  display: block;
  align-items: center;
  box-shadow: -3px 2px 2px 0px #ffa31a;
  width: 800px;
  height: 360px;
  background: url(../img/advantage_3.jpg) no-repeat;
  border-radius: 10px;
  margin-top: 50px;
}
.advantage-items {
  display: flex;
}
.advantage-item-1 {
  margin-top: -1180px;
  margin-left: 825px;
  width: 380px;
}
.advantage-item-2 {
  margin-top: 410px;
  margin-left: 0px;
}
.advantage-item-3 {
  margin-top: 820px;
  margin-left: 825px;
  margin-bottom: 1300px;
}
.accordion {
  margin-bottom: 10px;
  display: inline-block;
  border: 3px solid #ffa31a;
  border-radius: 20px;
  width: 380px;
  background-color: #292929;
  position: absolute;
}
.accordion__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}
.accordion__title {
  color: #ffffff;
  font-size: 20px;
  margin-left: 20px;
  text-shadow: #1b1b1b 3px 2px;
}
.accordion__content {
  display: block;
  width: 324px;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  margin: 20px;
  margin-top: -15px;
  padding-right: 25px;
  text-shadow: #1b1b1b 3px 2px;
}
.accordion__icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffa31a;
}
.accordion__icon::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.accordion__icon::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.accordion[open] .accordion__icon {
  transform: rotate(45deg);
}
.description-title {
  color: #ffa31a;
  font-size: 40px;
  margin-top: -70px;
  margin-bottom: -20px;
  text-shadow: #000000 3px 3px;
}
.description-text {
  color: #ffffff;
  font-size: 26.6px;
  margin-bottom: 30px;
  text-shadow: #000000 3px 3px;
}
.wrapper {
  width: 100%;
}
.team-title {
  margin-left: 385px;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
  text-shadow: #000000 3px 3px;
}
.image-slider {
  padding: 30px 0 70px 0;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 72px;
}
.image-slider__image {
  position: relative;
  align-items: center;
  width: 300px;
  height: 400px;
}
.image-slider__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 2px solid #ffa31a;
  border-radius: 30px;
}
.image-slider__text {
  width: 300px;
  padding-top: 18px;
  padding-left: 5px;
  height: 60px;
  font-style: normal;
  margin-top: 20px;
  color: #ffffff;
  border: 2px solid #ffa31a;
  text-shadow: #000000 2px 2px;
  border-radius: 20px;
  font-size: 16px;
}
.text-2 {
  padding-left: 10px;
}
.text-3 {
  padding-left: 30px;
}
.text-4 {
  padding-left: 20px;
}
.text-5 {
  padding-left: 23px;
}
.text-6 {
  padding-left: 10px;
}
.text-7 {
  padding-left: 33px;
}
.footer {
  background-color: #ffa31a;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  display: inline-block;
  color: #292929;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.footer-link:not(:last-child) {
  margin-right: 20px;
}
.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-link:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .promo {
    background-color: #292929;
    border-radius: 0px;
    width: 1050px;
  }
  .promo-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 70px;
    padding-left: 70px;
  }
  .promo-title {
    margin-left: 550px;
    font-size: 42px;
  }
  .button-main {
    height: 50px;
    margin-left: 710px;
    margin-top: -113px;
  }
  .button-text-main {
    font-size: 28px;
    width: 170px;
  }
  .descrition-text {
    color: #ffffff;
    font-size: 35px;
    width: 550px;
  }
  .item_1-text {
    margin-left: 70px;
    margin-top: 200px;
    margin-bottom: -270px;
    text-shadow: #000000 3px 3px;
  }
  .item_1-image {
    margin-left: 670px;
    box-shadow: 3px 2px 2px 0px #ffa31a;
  }
  .item_2-text {
    padding-bottom: 0px;
    margin-left: 580px;
    text-shadow: #000000 3px 3px;
  }
  .item_2-image {
    margin-left: 75px;
    box-shadow: -3px 2px 2px 0px #ffa31a;
    margin-top: -290px;
  }
  .item_3-text {
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: -290px;
    text-shadow: #000000 3px 3px;
  }
  .item_3-image {
    margin-left: 670px;
    padding-top: -200px;
    box-shadow: 3px 2px 2px 0px #ffa31a;
  }
  .section-heading {
    width: 600px;
    margin-left: 70px;
    margin-top: 50px;
  }
  .section-title {
    font-size: 42px;
  }
  .swiper-scroller {
    max-width: 100%;
  }
}
